<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>帮助中心</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
</head>
<style type="text/css">
body {
  margin: 0 auto;
  text-align:left;
  padding:0;
}

li{

  list-style: none;
  font-size: 20px;
  color: green;

}
</style>

<body>
 <div data-role="page" style="background-image: url(/mbook/public/static/images/book2.jpg);background-size: 100%">
  <div data-role="centent" >
    <a data-ajax="false" href="index" data-role="button" data-icon="home"><font color="#blue">首页</font></a></div>
    <div data-role="centent" align="right">
    <h1><font color="black" style="font-size: 30px">帮助中心</font></h1>
    </div>
    <ul>
<h2>图书丢失了怎么办？</h2>
<li>图书丢失了按原价赔偿或者到图书馆义务打工弥补。</font></li>
<h2>图书的的借阅期是多久？</h2>
<li>图书的借阅期为一个月。</font></li>
<h2>可以捐书到图书馆吗？</h2>
 <li>捐书是一种良好的行为，我们允许并且提倡。</font> </li>
 <h2 align="left">帮助热线：13725481627</h2>

  </div>
  </ul>
</div>
</div>
</body>
</html>
