<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用户登录</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>

</head>
<style type="text/css">

label{
    color: white;
}
</style>
<body>
<div data-role="page" id="page1" style="background-image: url(/mbook/public/static/images/book1.jpg);; background-repeat: no-repeat; background-size: 100%">
  <div data-role="centent" align="right" > 
    <h1 id="reg"> <font color="white" ba style="font-size: 30px">用户登录</font> </h1>
  </div>
  <ul>
  <div data-role="content" align="center">
    <form name="LoginForm" method="post" action="logindo" data-ajax="false">
      <div data-role="fieldcontain">
        <label for="username" style="font-size: 23px"> 用户名 : </label>
        <input name="username" id="username"  value="" type="text" required style="font-size: 23px">
      </div>
      <div data-role="fieldcontain">
        <label for="password" style="font-size: 23px"> 密码 : </label>
        <input name="password" id="password" placeholder="" value="" type="password" required style="font-size: 23px">
      </div>
      <div >
        <input data-inline="true" type="submit" name="submit" value="登录"  />
        <a data-inline="true" data-ajax="false" data-role="button"   href="../user/reg">
        <font color="black">注册</font></a> 


      </div>
    </form>
  </div>
  <div data-role="footer" data-theme="f">
    <h1><font color="white" style="font-size: 30px">机电书店</font></h1>
  </div>
  </ul>
</div>
</body>
</html>
