<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>个人信息</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>

</head>
<style type="text/css">
body {
  margin: 0 auto;
  text-align:center;
  padding:0;
}
li{
  list-style: none;
}
</style>

<body>
<div data-role="page" id="page1" style="background-image: url(/mbook/public/static/images/book5.jpg);background-size: 200% ;background-repeat: no-repeat; background-size: 100%">
  <div data-role="centent" align="right"> 
    <h3 id="reg"><font color="black" style="font-size: 30px">个人信息</font></h3>
  </div>
  <ul>
  <div data-role="content" >
    <form name="RegForm" method="post" action="editmessage" data-ajax="false" >
      <div data-role="fieldcontain">
        <label for="username" style="font-size: 30px"> 用户名： </label>
        <span style="font-size: 30px">{$xinxi['user_name']}</span>
      </div>
      <div data-role="fieldcontain">
        <label for="username" style="font-size: 30px"> 用户名ID： </label>
        <span style="font-size: 30px">{$xinxi['user_id']}</span>
      </div>
      <div data-role="fieldcontain" >
        <label for="username" style="font-size: 30px"> 性别: </label>
        <span style="font-size: 30px" >{$xinxi['user_sex']}</span>
      </fieldset>
      </div>
      <div data-role="fieldcontain">
        <label for="email" style="font-size: 30px"> 邮箱: </label>
        <span style="font-size: 30px">{$xinxi['user_email']}</span>
      </div>
      <div >
        <input data-inline="true" type="submit" name="submit" value="修改信息"  />
        <a data-inline="true" data-ajax="false" data-role="button" href="editpassword"> <font color="black">更改密码
        </font></a> 
        <a data-inline="true" data-ajax="false" data-role="button"  href="index"> <font color="black">返回主页 </font></a> 

      </div>
    </form>
  </ul>
</div>
</body>
</html>
