<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>书店公告</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
</head>
<style type="text/css">
body {
  margin: 0 auto;
  text-align:center;
  padding:0;
}

li{

	list-style: none;
  font-size: 20px;
  color: black;
  text-align:left;

}
</style>

<body>
 <div data-role="page" style="background-image: url(/mbook/public/static/images/book5.jpg);">
  <div data-role="centent" >
    <a data-ajax="false" href="index" data-role="button" data-icon="home"><font color="#blue">首页</font></a>
    <h1 align="right"><font color="black" style="font-size: 30px" >书店公告</font></h1>
  </div>
 <ul>
        <li><font color="black">机电书店营业开始于2016年，是目前钟落潭还在运营的最老的书店之一，同时也是政府官方认证的书店，平时会有很多领导来这里看书，所以这里往往座无虚席。</font></li>

<li><font color="black">如果你是一个爱看书的人，那么到了钟落潭，你一定不能错过机电书店。独特的装横设计会让你感觉置身于古老传统的图书馆，并且这里有相当丰富的图书，以及良好的氛围。</li>

<li>毫无疑问这是一个很特别的书店，拥有大量的书籍！</font></li>
<font color="black" align="left">
<li>按类别可分为古典文献、人文社科、艺术、生活等等之类的图书。</li>
<li>按语言可分为中文、英语、日语、西班牙语等等之类的图书。</li>

<li>机电书店热烈欢迎机电师生以及外来人员前来围观</li>


<h3 align="right">机电书店公告 </h3>
<h5 align="right">2017-10-25</h5>
</font>
  </div>
</ul>
</body>
</html>
