<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>图书分类</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
</head>
<style type="text/css">
span li{
  text-align: center;
  font-size: 30px;
  list-style: none;
}
</style>
<body>
<div data-role="page" id="page1" style="background-image: url(/mbook/public/static/images/book3.jpg);background-size: 100%">
  <div data-role="header" >
    <h1><font color="green">图书展示</font></h1>
    <a data-ajax="false" href="../index/index" data-role="button" data-icon="home"><font color="#blue">首页</font></a>
    <a data-ajax="false" href="booktype" data-role="button" data-icon="bgCrumb5"><font color="red">返回</font></a>
    <div data-role="navbar">
      <ul>
        <li><a href="#page1" class="ui-state-persist ui-btn-active">概述</a></li>
        <li><a href="#page2">图片</a></li>
        <li><a href="#page3">简介</a></li>
        <li><a href="#page4">目录</a></li>
      </ul>
    </div>
  </div>
  <div data-role="content">
    <div id="gaishu">
      {$book['book_name']}<br/>
      {$book.book_author}<br/>
      ISBN: {$book['book_isbn']}<br/>
      原价：{$book.book_oldprice|round=2}<br/>
      折后价：{$book.book_newprice|round=2}<br/>
    </div>
  </div>
 
   
  </div>
  <div data-role="footer" data-id="nav_footer"> </div>
</div>
<div data-role="page" id="page2" style="background-image: url(/mbook/public/static/images/book3.jpg);background-repeat: no-repeat; background-size: 100%;">
  <div data-role="header">
    <h1>图书展示</h1>
    <a data-ajax="false" href="../index/index" data-role="button" data-icon="home">首页</a>
    <a data-ajax="false" href="booktype" data-role="button" data-icon="bgCrumb5">返回</a>
    <div data-role="navbar">
      <ul>
        <li><a href="#page1">概述</a></li>
        <li><a href="#page2" class="ui-state-persist ui-btn-active">图片</a></li>
        <li><a href="#page3">简介</a></li>
        <li><a href="#page4">目录</a></li>
      </ul>
    </div>
  </div>
  <div data-role="content">
    <div id="tupian"> <img src="/mbook/public/static/images/{$book.book_img}" /> </div>
  </div>
  
  </div>
  <div data-role="footer" data-id="nav_footer"> </div>
</div>
<div data-role="page" id="page3" style="background-image: url(/mbook/public/static/images/book3.jpg);background-size: 100% ;background-repeat: no-repeat;">
  <div data-role="header">
    <h1>图书展示</h1>
    <a data-ajax="false" href="../index/index" data-role="button" data-icon="home">首页</a>
    <a data-ajax="false" href="booktype" data-role="button" data-icon="bgCrumb5">返回</a>
    <div data-role="navbar">
      <ul>
        <li><a href="#page1">概述</a></li>
        <li><a href="#page2">图片</a></li>
        <li><a href="#page3" class="ui-state-persist ui-btn-active">简介</a></li>
        <li><a href="#page4">目录</a></li>
      </ul>
    </div>
  </div>
  <div data-role="content">
    <div id="jianjie"> {$book.book_about}<br/></div>
  </div>

   
  </div>
  <div data-role="footer" data-id="nav_footer"> </div>
</div>
<div data-role="page" id="page4" style="background-image: url(/mbook/public/static/images/book3.jpg);background-size: 100% ;background-repeat: no-repeat;">
  <div data-role="header">
    <h1>图书展示</h1>
    <a data-ajax="false" href="../index/index" data-role="button" data-icon="home">首页</a>
    <a data-ajax="false" href="booktype" data-role="button" data-icon="bgCrumb5">返回</a>
    <div data-role="navbar" >
      <ul>
        <li><a href="#page1">概述</a></li>
        <li><a href="#page2">图片</a></li>
        <li><a href="#page3">简介</a></li>
        <li><a href="#page4" class="ui-state-persist ui-btn-active">目录</a></li>
      </ul>
    </div>
  </div>
  <div data-role="content">
    <div id="mulu">  {$book.book_directory} <br/> </div>
  </div>
  </div>
  <div data-role="footer">
  </div>
</div>
</body>
</html>
